.user-details-container {
    padding: 5rem;
    max-width: 100%;
}

.admin-multiple-input-container {

}

.admin-multiple-input-container input {
    padding: 1rem;
    border: none;
    background-color: #FCF0F1;
    margin: 1px;
    border-radius: 15px;

}

.admin-multiple-input-container input[type="radio"]:checked + label {
    border-bottom: solid 2px #FCF0F1;
}

.admin-user-mult-container {
    display: flex;
    flex-direction: column;
}

.admin-multiple-input-container label {
    font-family: var(--font-family-english);
    color: var(--color-text);
    padding: 2px;
    transition: all 0.4s;
    margin: 0.5rem;
    cursor: pointer;
}


.admin-multiple-input-container input[type="radio"] {
    display: none;
}

.user-details-field {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: var(--font-family-english);
    color: gray;
    margin: 10px;
}

.user-details-field input {
    background-color: #FCF0F1;
    padding: 10px;
    border: none;
    border-radius: 15px;
}

.user-details-field h3 {
    margin-right: 10px;
    margin-left: 10px;
}

.user-edit-submit {
    padding: 10px;
    border-radius: 15px;
    width: 15%;
    margin-top: 10px;
}

.delete-user {
    color: gray;
    font-family: var(--font-family-english);
    font-size: 1.1rem;
    cursor: pointer;
    margin: 10px;
}

.user-delete-button {
    width: 40%;
    padding: 10px;
    border-radius: 15px;
}

.user-delete-button-container {
    display: flex;
    justify-content: space-evenly;
}


@media screen and (max-width: 1024px) {
    .form-create-post h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 700px) {
    .user-details-container {
        padding: 5rem 1rem;
    }
    .user-edit-submit,
    .profile-edit-button {
        width: 50%;
    }

    .user-details-field-type {
        display: flex;
        flex-direction: column;
    }
    .user-details-field-type h3 {
        margin-bottom: 1rem;
    }
}